<div id="template" class="list">
	<div class="title">{lazy:sortname/}</div>
	{lazy:pagelist/}
	<ul>
		{lazy:template type="list" number="10"}
		<li>
			<div class="picture"><a href="(lazy:path/)"><img src="(lazy:image width="90" height="110"/)" /></a></div>
			<div class="info">
				<p>模板名称：<a href="(lazy:path/)">(lazy:title/)</a></p>
				<p>设计制作：(lazy:author/)</p>
				<p>系统版本：(lazy:systemver/)</p>
				<p>演示地址：<a href="(lazy:url/)" target="_blank">(lazy:url/)</a></p>
			</div>
		</li>
		{/lazy}
	</ul>
	{lazy:pagelist/}
</div>