<div id="artlist" class="list">
    <div class="title">{lazy:title/}</div>
    <form id="form1" name="form1" method="get" action="{lazy:page/}index.php/Archives/Search" class="lz_form">
      <input type="text" class="in2" name="query" value="{lazy:query/}" />&nbsp; 
      <select name="sortid">
        <option value="0">所有分类</option>
        {lazy:sort/}
      </select>
	  &nbsp; <button type="submit">搜索</button>
    </form>
    {lazy:pagelist/}
    {lazy:search type="list" number="10"}
    <div class="item">
        <a href="(lazy:path/)" target="_blank" title="(lazy:title/)">(lazy:title size="30"/)</a>
        <div class="intro">(lazy:description/)</div>
		<div class="info">所属分类：<a href="(lazy:sortpath/)">(lazy:sortname/)</a>&nbsp; &nbsp; 点击：(lazy:hits/)&nbsp; &nbsp; 日期：(lazy:date mode="Y-m-d"/)&nbsp; &nbsp; 关键词：(lazy:keywords url="/page/index.php/tags/"/)</div>
    </div>
    {/lazy}
    {lazy:pagelist/}
</div>