<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{lazy:keywords/}"/>
<meta name="description" content="{lazy:description/}"/>
<title>{lazy:title/} - {lazy:sitename/}</title>
<link rel="shortcut icon" href="http://www.lazycms.net/favicon.ico" />
<link href="images/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="images/common.js"></script>
</head>

<body>
<div id="top">
	<div class="left">
		<a href="{lazy:inst/}"><img src="images/logo.png" alt="logo" /></a>
	</div>
	<div class="right">
		<div class="tip">约有<strong><span class="lz_vernumber"><script type="text/javascript">$('.lz_vernumber').html(loadgif()).load('{lazy:inst/}number.html');</script></span></strong>个网站正在使用LazyCMS</div>
		<ul>
			<li><a href="{lazy:inst/}">首 页</a></li>
			<li><a href="{lazy:inst/}news/">更 新</a></li>
			<li><a href="{lazy:inst/}license/">许 可</a></li>
			<li><a href="{lazy:inst/}download/">下 载</a></li>
			<li><a href="{lazy:inst/}help/">帮 助</a></li>
			<li><a href="{lazy:inst/}service/">服务项目</a></li>
			<li><a href="http://forums.lazycms.net/" target="_blank">讨论交流</a></li>
		</ul>
	</div>
</div>

<div id="main">
	<div class="mleft">
		<div id="guide">
			<a href="{lazy:inst/}" class="home">当前位置</a>
			<span class="sub">{lazy:guide/}</span>
		</div>
		{lazy:inside/}
	</div>
	<div class="mright">
		<dl>
			<dt><strong>源码下载</strong><a href="{lazy:inst/}download/"><img src="images/more.gif" alt="more" /></a></dt>
			<dd class="version">当前最新版本是：{lazy:version/}</dd>
			<dd class="download"><a href="{lazy:inst/}download/"><img src="images/download.png" alt="download"  /></a></dd>
		</dl>
		<ul class="download">
			{lazy:download type="commend" number="2"}
			<li class="important"><a href="(lazy:path/)" title="(lazy:title/)">(lazy:title size="25"/)</a></li>
			{/lazy}
			{lazy:download type="new" number="3"}
			<li><a href="(lazy:path/)" title="(lazy:title/)">(lazy:title size="25"/)</a></li>
			{/lazy}
		</ul>
		<dl>
			<dt><strong>许可协议</strong><a href="{lazy:inst/}license/"><img src="images/more.gif" alt="more" /></a></dt>
			<dd class="license"><strong>免费！</strong>可以用在商业用途网站。包括个人及企业网站，而无需支付使用费用，仅需保留LazyCMS支持信息链接即可。详细协议请阅读许可协议文档。</dd>
		</dl>
		<ul class="download">
			<li><a href="{lazy:inst/}LICENSE.doc" target="_blank">下载完整许可协议文档(WORD格式)</a></li>
			<li><a href="{lazy:inst/}LICENSE.pdf" target="_blank">下载完整许可协议文档(PDF格式)</a></li>
			<li><a href="{lazy:inst/}license/">进入许可协议页面</a></li>
		</ul>
	</div>
</div>

<div id="footer">
	<div class="left">Copyright &copy;2008 <a href="http://www.LazyCMS.net/">LazyCMS.net</a> All rights reserved. {lazy:cms/}
	<script language="javascript" type="text/javascript" src="http://js.users.51.la/1497837.js"></script>
<noscript><a href="http://www.51.la/?1497837" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/1497837.asp" style="border:none" /></a></noscript>
	</div>
	<div class="right">
		<a href="{lazy:inst/}about.html">关于LazyCMS</a> | 
		<a href="{lazy:inst/}contact.html">联系方式</a> | 
		<a href="{lazy:inst/}payment.html">付款方式</a>
	</div>
</div>
</body>
</html>
