/**
 * +---------------------------------------------------------------------------+
 * | LL                             LLLL   LL     L   LLLL               LLLL  |
 * | LL                            LL   L  LLL   LL  LL   L             LL  LL |
 * | LL      LLLL   LLLLL  LL  LL  LL      LLLL LLL  LL         LL  LL      LL |
 * | LL         LL     LL  LL  LL  LL      L LLL LL  LLLLL      LL  LL     LL  |
 * | LL      LLLLL    LL    LLLL   LL      L  L  LL   LLLLL     LL  LL    LL   |
 * | LL     LL  LL   LL     LLLL   LL      L     LL      LL      LLLL    LL    |
 * | LL     LL  LL  LL       LL    LL   L  L     LL  L   LL      LLLL   LL     |
 * | LLLLLL  LLLLL  LLLLL    LL     LLLL   L     LL   LLLL        LL    LLLLLL |
 * |                        LL                                                 |
 * |                        LL                                                 |
 * +---------------------------------------------------------------------------+
 * | Copyright (C) 2007-2010 LazyCMS.com All rights reserved.                  |
 * +---------------------------------------------------------------------------+
 * | LazyCMS is free software. See LICENSE for copyright notices and details.  |
 * +---------------------------------------------------------------------------+
 */

/* Icons
----------------------------------------------------------------------------------------------------*/
img.os{ width:16px; height:16px; vertical-align:middle; background-image:url(../images/icons.png); padding:0px; margin:2px; }

/* icon position */
img.a1{background-position:-20px -20px;}
img.a2{background-position:-20px -40px;}
img.a3{background-position:-20px -60px;}
img.a4{background-position:-20px -80px;}
img.a5{background-position:-20px -100px;}
img.a6{background-position:-20px -120px;}
img.a7{background-position:-20px -140px;}
img.a8{background-position:-20px -160px;}
img.a9{background-position:-20px -180px;}
img.b1{background-position:-40px -20px;}
img.b2{background-position:-40px -40px;}
img.b3{background-position:-40px -60px;}
img.b4{background-position:-40px -80px;}
img.b5{background-position:-40px -100px;}
img.b6{background-position:-40px -120px;}
img.b7{background-position:-40px -140px;}
img.b8{background-position:-40px -160px;}
img.b9{background-position:-40px -180px;}
img.c1{background-position:-60px -20px;}
img.c2{background-position:-60px -40px;}
img.c3{background-position:-60px -60px;}
img.c4{background-position:-60px -80px;}
img.c5{background-position:-60px -100px;}
img.c6{background-position:-60px -120px;}
img.c7{background-position:-60px -140px;}
img.c8{background-position:-60px -160px;}
img.c9{background-position:-60px -180px;}
img.d1{background-position:-80px -20px;}
img.d2{background-position:-80px -40px;}
img.d3{background-position:-80px -60px;}
img.d4{background-position:-80px -80px;}
img.d5{background-position:-80px -100px;}
img.d6{background-position:-80px -120px;}
img.d7{background-position:-80px -140px;}
img.d8{background-position:-80px -160px;}
img.d9{background-position:-80px -180px;}