<div id="soft">
	<table class="lz_table">
		<tr>
			<th>软件名称</th><td colspan="3"><h1>{lazy:title/}</h1></td>
		</tr>
		<tr>
			<th>软件类型</th><td>{lazy:softtype/}</td><th>授权方式</th><td>{lazy:accredit/}</td>
		</tr>
		<tr>
			<th>软件等级</th><td>{lazy:softrank/}</td><th>软件作者</th><td>{lazy:author/}</td>
		</tr>
		<tr>
			<th>软件大小</th><td>{lazy:softsize/}</td><th>文件类型</th><td><img src="{lazy:page/}system/images/os/file/{lazy:filetype/}.gif" alt="{lazy:filetype/}"/></td>
		</tr>
		<tr>
			<th>界面语言</th><td>{lazy:language/}</td><th>浏览次数</th><td>{lazy:hits/}次</td>
		</tr>
		<tr>
			<th>运行环境</th><td colspan="3">{lazy:os/}</td>
		</tr>
		<tr>
			<th>官方网址</th><td colspan="3"><a href="{lazy:officialurl/}" target="_blank">{lazy:officialurl/}</a></td>
		</tr>
		<tr>
			<th>演示网址</th><td colspan="3"><a href="{lazy:officialdemo/}" target="_blank">{lazy:officialdemo/}</a></td>
		</tr>
		<tr>
			<th>软件介绍</th><td colspan="3">{lazy:content/}</td>
		</tr>
		<tr>
			<th>下载地址</th><td colspan="3" class="downurl"><a href="{lazy:softlinks/}">点击下载</a></td>
		</tr>
	</table>
</div>