/* 单页样式 */
#onepage{ clear:both;}

/* 分页样式 */
.pagelist{ margin:5px 0; clear:both; text-align:right;}
	.pagelist a ,
	.pagelist strong{ margin-right:3px;}
	.pagelist strong{ color:#993300;}
	.pagelist em {padding:2px;border:1px solid #C6C6C6;font-size:12px;margin:0px 1px;background:#F5F9FE;color:#14316B;font-weight:bold;font-style:normal; margin-right:3px;}

/* 系统定义的form表单样式 */
.lz_form{ padding:3px; text-align:left;}
	.lz_form p{ margin:10px 0 1px 0; }
	.lz_form p.succeed{ color:#993300; background:url(os/on.gif) no-repeat left center; padding-left:20px; font-weight:bold;}
	.lz_form label{ display:block; color:#006600; line-height:12px;font-size:12px; margin-bottom:3px;}
	.lz_form label.error{ color:#993300; clear:both; cursor:pointer; padding-top:2px;}
	.lz_form span label{ display:inline; color:#000;}
	.lz_form button{ margin-right:6px; letter-spacing:3px; padding:1px 2px; border:1px solid; border-color:#EEE #777 #777 #EEE; background:#D4D0C8; font-size:12px; line-height:100%; vertical-align:middle;}
	.lz_form .button{ margin:5px 0;}
	.checkbox{display:block;}
	.checkbox span{display:block;}
	.checkbox span label{display:inline; color:#666; font-size:12px;}

/* 系统定义的table样式 */
.lz_table{ width:99.5%; border-collapse:collapse; margin:3px auto; text-align:left;}
	.lz_table th ,
	.lz_table td{ padding:3px; padding-bottom:2px;}
	.lz_table th{ background:#F5F5F5;border-style:solid; border-width:1px; border-color:#CECECE #A8A8A8 #A8A8A8 #CECECE; color:#193441; letter-spacing:1px;}
	.lz_table td{ border:solid 1px #CECECE;}

/* 表单长度设置 */
.in{ border:solid 1px #7F9DB9; display:table; cursor:text; }
.in a:hover{ text-decoration:underline; background:#0A246A; color:#FFFFFF;}
.in0{ width:50px;border:solid 1px #7F9DB9;}
.in1{ width:100px;border:solid 1px #7F9DB9;}
.in2{ width:200px;border:solid 1px #7F9DB9;}
.in3{ width:300px;border:solid 1px #7F9DB9;}
.in4{ width:400px;border:solid 1px #7F9DB9;}
.in5{ width:500px;border:solid 1px #7F9DB9;}
.in6{ width:600px;border:solid 1px #7F9DB9;}