/**
 * +---------------------------------------------------------------------------+
 * | LL                             LLLL   LL     L   LLLL                 LL  |
 * | LL                            LL   L  LLL   LL  LL   L               LLL  |
 * | LL      LLLL   LLLLL  LL  LL  LL      LLLL LLL  LL          LL  LL    LL  |
 * | LL         LL     LL  LL  LL  LL      L LLL LL  LLLLL       LL  LL    LL  |
 * | LL      LLLLL    LL    LLLL   LL      L  L  LL   LLLLL      LL  LL    LL  |
 * | LL     LL  LL   LL     LLLL   LL      L     LL      LL       LLLL     LL  |
 * | LL     LL  LL  LL       LL    LL   L  L     LL  L   LL       LLLL     LL  |
 * | LLLLLL  LLLLL  LLLLL    LL     LLLL   L     LL   LLLL         LL     LLLL |
 * |                        LL                                                 |
 * |                        LL                                                 |
 * +---------------------------------------------------------------------------+
 * | Copyright (C) 2007-2008 LazyCMS.net All rights reserved.                  |
 * +---------------------------------------------------------------------------+
 * | LazyCMS is free software. This version use Apache License 2.0             |
 * | See LICENSE.txt for copyright notices and details.                        |
 * +---------------------------------------------------------------------------+
 */
@charset "utf-8";
/**
 * 系统公用样式
 */

/* 错误信息 */
div.jTip { width:auto; display:none; position:absolute; color:#000; text-align:left; }
div.jTip-body { border:solid 1px #D4D5AA; padding:5px 5px 2px 5px; background:#FFFFCC; word-wrap: break-word; word-break: break-all; }
div.jTip-foot { width:10px; height:10px; position:relative; top:-1px; float:left; margin-left:0px; background:url(tip-foot.gif) no-repeat left top; }

/* 分页样式 */
.pages { display:table; }
.pages a, .pages span { display:block; float:left; background:#fff; border:solid 1px #DEDEDE; padding:1px 3px; margin-right:2px; text-align:center; text-decoration:none;}
.pages a:hover{ position:relative; line-height:130%; padding:0 5px; font-size:24px; z-index:100; margin:-8px 0 0 -8px; text-decoration:none;}
.pages a:hover + a{ position:relative; line-height:130%; padding:0 5px; font-size:18px; z-index:90; margin:-4px 0 0 -4px; text-decoration:none;}
.pages span.active{ color:#990000 !important; font-weight:bold; }

/* 浮动对话框 */
.dialog{ min-width:250px; display:block; zoom:1; background:#FFFFFF; border:solid 1px #c6d9e7;}
.dialog .head{ height:23px; display:block; clear:both; padding:0 5px; line-height:23px; border-bottom:1px solid #c6d9e7; background:url(buttons-bg.png) repeat-x 0 -2px; }
.dialog .head strong{ background:url(dialog-icon.png) no-repeat left 3px; padding-left:20px; float:left; color:#0B5B98; letter-spacing:1px; }
.dialog .head a{ width:35px; height:17px; float:right; display:block; background:url(close.png) no-repeat left top; }
.dialog .head a:hover{ background-position:0 -24px;}
.dialog .body{ display:block; zoom:1; padding:5px; clear:both; overflow:auto; word-wrap: break-word; word-break: normal; word-break:break-all; }
.dialog .body .icon{ width:32px; height:32px; float:left; margin:10px 10px 0 10px; background-image:url(info_icons.png); background-repeat:no-repeat; }
.dialog .body .content{ float:left; }
.dialog .body .content h3{ line-height:130%; margin-top:13px; }
.dialog .body pre{ margin:0; }
.dialog .body p{ margin:5px 0 5px 0; clear:both; }
.dialog .body p label{ width:60px; text-align:right; display:block; float:left; color:#0000FF; line-height:200%; font-size:12px; margin:0 5px 3px 0;}
.dialog .body span label{ width:auto; margin:0px; text-align:left; float:none; display:inline; color:#666666;}
.dialog .button{ clear:both; padding:3px; text-align:right; }
.dialog .button button{ margin:0 0 0 6px;}
