/**
 * +---------------------------------------------------------------------------+
 * | LL                             LLLL   LL     L   LLLL                 LL  |
 * | LL                            LL   L  LLL   LL  LL   L               LLL  |
 * | LL      LLLL   LLLLL  LL  LL  LL      LLLL LLL  LL          LL  LL    LL  |
 * | LL         LL     LL  LL  LL  LL      L LLL LL  LLLLL       LL  LL    LL  |
 * | LL      LLLLL    LL    LLLL   LL      L  L  LL   LLLLL      LL  LL    LL  |
 * | LL     LL  LL   LL     LLLL   LL      L     LL      LL       LLLL     LL  |
 * | LL     LL  LL  LL       LL    LL   L  L     LL  L   LL       LLLL     LL  |
 * | LLLLLL  LLLLL  LLLLL    LL     LLLL   L     LL   LLLL         LL     LLLL |
 * |                        LL                                                 |
 * |                        LL                                                 |
 * +---------------------------------------------------------------------------+
 * | Copyright (C) 2007-2008 LazyCMS.net All rights reserved.                  |
 * +---------------------------------------------------------------------------+
 * | LazyCMS is free software. This version use Apache License 2.0             |
 * | See LICENSE.txt for copyright notices and details.                        |
 * +---------------------------------------------------------------------------+
 *
 * 系统图标样式
 *
 * @copyright   Copyright (c) 2007-2008 lazycms.net All rights reserved.
 * @author      Lukin <mylukin@gmail.com>
 * @date        2008-6-20
 */
@charset "utf-8";
/* 16x16 ICONS */
.icon-16-cpanel		{ background: url(menu-icons.png) no-repeat 0px 1px !important; }
.icon-16-user		{ background: url(menu-icons.png) no-repeat 0px -32px !important; }
.icon-16-media		{ background: url(menu-icons.png) no-repeat 0px -64px !important; }
.icon-16-config		{ background: url(menu-icons.png) no-repeat 0px -96px !important; }
.icon-16-logout		{ background: url(menu-icons.png) no-repeat 0px -128px !important; }
.icon-16-info		{ background: url(menu-icons.png) no-repeat 0px -160px !important; }
.icon-16-home		{ background: url(menu-icons.png) no-repeat 0px -192px !important; }
.icon-16-help		{ background: url(menu-icons.png) no-repeat 0px -224px !important; }
.icon-16-sort		{ background: url(menu-icons.png) no-repeat 0px -288px !important; }
.icon-16-page		{ background: url(menu-icons.png) no-repeat 0px -320px !important; }
.icon-16-article	{ background: url(menu-icons.png) no-repeat 0px -352px !important; }
.icon-16-model		{ background: url(menu-icons.png) no-repeat 0px -384px !important; }
.icon-16-install	{ background: url(menu-icons.png) no-repeat 0px -416px !important; }
.icon-16-create		{ background: url(menu-icons.png) no-repeat 0px -448px !important; }
.icon-16-label		{ background: url(menu-icons.png) no-repeat 0px -480px !important; }

.icon-16-add		{ background: url(icons.png) no-repeat 0px 0px !important; }
.icon-16-cut		{ background: url(icons.png) no-repeat 0px -20px !important; }
.icon-16-cut-off	{ background: url(icons.png) no-repeat 0px -40px !important; }
.icon-16-dir0		{ background: url(icons.png) no-repeat 0px -60px !important; }
.icon-16-dir1		{ background: url(icons.png) no-repeat 0px -80px !important; }
.icon-16-dir2		{ background: url(icons.png) no-repeat 0px -100px !important; }
.icon-16-edit		{ background: url(icons.png) no-repeat 0px -140px !important; }
.icon-16-export		{ background: url(icons.png) no-repeat 0px -160px !important; }
.icon-16-fav		{ background: url(icons.png) no-repeat 0px -180px !important; }
.icon-16-fav-add	{ background: url(icons.png) no-repeat 0px -200px !important; }
.icon-16-light		{ background: url(icons.png) no-repeat 0px -260px !important; }
.icon-16-light-off	{ background: url(icons.png) no-repeat 0px -280px !important; }
.icon-16-link		{ background: url(icons.png) no-repeat 0px -300px !important; }
.icon-16-link-error	{ background: url(icons.png) no-repeat 0px -320px !important; }
.icon-16-lock		{ background: url(icons.png) no-repeat 0px -340px !important; }
.icon-16-lock-open	{ background: url(icons.png) no-repeat 0px -360px !important; }
.icon-16-reduce		{ background: url(icons.png) no-repeat 0px -380px !important; }
.icon-16-stop		{ background: url(icons.png) no-repeat 0px -400px !important; }
.icon-16-tick		{ background: url(icons.png) no-repeat 0px -420px !important; }

/* 32x32 ICONS */
.icon-32-user		{ background-image:url(icon-32/user.png) !important; }
.icon-32-media		{ background-image:url(icon-32/media.png) !important; }
.icon-32-config		{ background-image:url(icon-32/config.png) !important; }
.icon-32-install	{ background-image:url(icon-32/install.png) !important; }
.icon-32-article	{ background-image:url(icon-32/article.png) !important; }
.icon-32-sort		{ background-image:url(icon-32/sort.png) !important; }
.icon-32-model		{ background-image:url(icon-32/model.png) !important; }
.icon-32-page		{ background-image:url(icon-32/page.png) !important; }
