<div id="artlist" class="list">
	<div class="title"><span>域名空间</span><a href="{lazy:archives type="link" sortid="4"/}"><img src="images/more.gif"></a></div>
	{lazy:article type="new" sortid="4" number="5"}
	<div class="item">
		<a href="(lazy:path/)" title="(lazy:title/)">(lazy:title size="30"/)</a>
		<div class="intro">(lazy:description size="80"/)</div>
	</div>
	{/lazy}
	<div class="title"><span>网站建设</span><a href="{lazy:archives type="link" sortid="5"/}"><img src="images/more.gif"></a></div>
	{lazy:article type="new" sortid="5" number="5"}
	<div class="item">
		<a href="(lazy:path/)" title="(lazy:title/)">(lazy:title size="30"/)</a>
		<div class="intro">(lazy:description size="80"/)</div>
	</div>
	{/lazy}
	<div class="title"><span>网站推广</span><a href="{lazy:archives type="link" sortid="6"/}"><img src="images/more.gif"></a></div>
	{lazy:article type="new" sortid="6" number="5"}
	<div class="item">
		<a href="(lazy:path/)" title="(lazy:title/)">(lazy:title size="30"/)</a>
		<div class="intro">(lazy:description size="80"/)</div>
	</div>
	{/lazy}
	<div class="title"><span>常见问题</span><a href="{lazy:archives type="link" sortid="7"/}"><img src="images/more.gif"></a></div>
	{lazy:article type="new" sortid="7" number="5"}
	<div class="item">
		<a href="(lazy:path/)" title="(lazy:title/)">(lazy:title size="30"/)</a>
		<div class="intro">(lazy:description size="80"/)</div>
	</div>
	{/lazy}
</div>