/**
 * +---------------------------------------------------------------------------+
 * | LL                             LLLL   LL     L   LLLL                 LL  |
 * | LL                            LL   L  LLL   LL  LL   L               LLL  |
 * | LL      LLLL   LLLLL  LL  LL  LL      LLLL LLL  LL          LL  LL    LL  |
 * | LL         LL     LL  LL  LL  LL      L LLL LL  LLLLL       LL  LL    LL  |
 * | LL      LLLLL    LL    LLLL   LL      L  L  LL   LLLLL      LL  LL    LL  |
 * | LL     LL  LL   LL     LLLL   LL      L     LL      LL       LLLL     LL  |
 * | LL     LL  LL  LL       LL    LL   L  L     LL  L   LL       LLLL     LL  |
 * | LLLLLL  LLLLL  LLLLL    LL     LLLL   L     LL   LLLL         LL     LLLL |
 * |                        LL                                                 |
 * |                        LL                                                 |
 * +---------------------------------------------------------------------------+
 * | Copyright (c) 2007-2008 LazyCMS.net All rights reserved.                  |
 * +---------------------------------------------------------------------------+
 * | 许可协议，请查看源代码中附带的 LICENSE.txt 文件，                         |
 * | 或者访问 http://www.lazycms.net/ 获得详细信息。                           |
 * +---------------------------------------------------------------------------+
 *
 * 后台公用样式表
 *
 * @copyright   Copyright (c) 2007-2008 lazycms.net All rights reserved.
 * @author      Lukin <mylukin@gmail.com>
 * @date        2008-6-23
 * 
 */
@charset "utf-8";

/* 全局样式 */
body,td,th,p,div { color: #333333; line-height: 130%; font-family: Verdana; font-size: 12px;}
dl,dt,dd,form{ margin:0; padding:0;}
img,input,button,select{ vertical-align:middle; }
img{ border:none; }
	img.os{ width:16px; height:16px; vertical-align:middle; margin:0px 2px; }
i.os{ width:16px; height:16px; vertical-align:middle; margin:0px 2px; float:left; display:block; overflow:hidden; cursor:pointer; }
a img{ border:none; vertical-align:middle;}

/* 连接样式 */
a:link    { color: #0B55C4; text-decoration: none; }
a:visited { color: #0B55C4; text-decoration: none; }
a:hover   { text-decoration: underline; }

/* 样式表 */
.panel{ position:absolute; border:solid 1px #c6d9e7; background:#FFF; text-align:left; }
	.panel .head{ display:table; zoom:1; height:23px; line-height:21px; border-bottom:solid 1px #c6d9e7; background:url(../../../common/images/buttons-bg.png) repeat-x 0 center; padding-left:5px; overflow:hidden;}
	.panel .head strong{ padding:3px 0 0 20px; background:url(../../../common/images/icons.png) no-repeat 0px -176px; display:block; float:left;}
	.panel .head a{ display:block; float:right; padding:0 5px; margin-right:5px; text-decoration:none; font-weight:bold;}
	.panel .body p{ margin:5px 0 5px 0; clear:both; }
	.panel .body p label{ width:60px; text-align:right; display:block; float:left; color:#0000FF; line-height:200%; font-size:12px; margin:0 5px 3px 0;}
	.panel .body span label{ width:auto; margin:0px; text-align:left; float:none; display:inline; color:#666666;}