/**
 * +---------------------------------------------------------------------------+
 * | LL                             LLLL   LL     L   LLLL               LLLL  |
 * | LL                            LL   L  LLL   LL  LL   L             LL  LL |
 * | LL      LLLL   LLLLL  LL  LL  LL      LLLL LLL  LL         LL  LL      LL |
 * | LL         LL     LL  LL  LL  LL      L LLL LL  LLLLL      LL  LL     LL  |
 * | LL      LLLLL    LL    LLLL   LL      L  L  LL   LLLLL     LL  LL    LL   |
 * | LL     LL  LL   LL     LLLL   LL      L     LL      LL      LLLL    LL    |
 * | LL     LL  LL  LL       LL    LL   L  L     LL  L   LL      LLLL   LL     |
 * | LLLLLL  LLLLL  LLLLL    LL     LLLL   L     LL   LLLL        LL    LLLLLL |
 * |                        LL                                                 |
 * |                        LL                                                 |
 * +---------------------------------------------------------------------------+
 * | Copyright (C) 2007-2008 LazyCMS.net All rights reserved.                  |
 * +---------------------------------------------------------------------------+
 * | LazyCMS is free software. This version use Apache License 2.0             |
 * | See LICENSE.txt for copyright notices and details.                        |
 * +---------------------------------------------------------------------------+
 */
@charset "utf-8";
/* 导入公用样式 */
@import url("../../../common/images/global.css");
@import url("../../../common/images/icons.css");
/* 全局样式 */
body { height:100%; margin:0; background: #FFF; text-align:left; }
body,td,th,p,div { color: #333333; line-height: 130%; font-family: Verdana; font-size: 12px;}
dl,dt,dd,form{ margin:0; padding:0;}
img,input,button,select{ vertical-align:middle; }
img{ border:none; }
	
/* 连接样式 */
a:link    { color: #0B55C4; text-decoration: none; }
a:visited { color: #0B55C4; text-decoration: none; }
a:hover   { text-decoration: underline; }

/* help button */
#help { position:absolute; top:55px;right:10px }

/* 登陆界面 */
#login { width: 600px; height: 300px; margin: 10% auto 0 auto; background: url(bg-line.gif) no-repeat 40% top; text-align:left; }
    #login .col1 { width:40%; padding-top:70px; margin:70px auto; float:left; background:url(login-logo.png) no-repeat left top; }
   	#login .col1 p { color:#999999; margin:8px 0; padding:0; }
    #login .col2 { width:40%; margin:50px 0 0 50px; padding:15px 20px;; float:left; }
	#login .col2 dt { font-weight:bold; color:#666666; font-size:14px; }
	#login .col2 dd { margin:10px 0; padding:0; }
	#login .col2 select { width:150px; }
	#login .col2 label{ float:left; width:40px; line-height:2; text-align:right; margin-right:10px; }
	* html #login .col2 label{ margin-right:7px;/* IE 3px bug */}
	#login .col2 input { width:144px; padding:1px 2px; border:1px solid; border-color:#b4b4b4 #e8e8e8 #e8e8e8 #b4b4b4;}
    #login button{ margin-left:35px; }
    
/* 顶部样式 */
#top {width:100%; margin:0; display:table; clear:both; background:#eff8ff url(lazyadmin-bgs.png) repeat-x 0 -5px;border-bottom:1px solid #c6d9e7; color:#333333; text-align:left;}
    #top a{ color:#333333;}
    #top .logo{ width:170px; padding:0 10px 0 5px; float:left; text-align:left;}
    #top .logo a { display:block; text-align:center;}
    
	/* 顶部右上角菜单 */
    #version{ position:absolute; right:0px; display:table; float:right; text-align:right; margin-right:10px; padding-top:3px;}
	
    /* 系统菜单 */
	#menu, #menu ul, #menu li { list-style: none; margin: 0; padding: 0; }
	#menu { display:table; zoom:1; float:left; margin:24px 0 0 5px; }
	#menu li { position:relative; z-index:100; float:left; line-height:25px; white-space: nowrap; margin-right:5px; }
	#menu li div { padding:3px 3px 2px 10px; border:solid 1px #c6d9e7; border-bottom:none; display:block; background:url(../../../common/images/buttons-bg.png) repeat-x 0 -1px; cursor:default;}
	#menu li div.active { background:#f6f6f6; }
	#menu li div.gray{ color:#999999; }
	#menu li div a{ text-decoration:none; }
	#menu ul { display:none; position:absolute; border:solid 1px #c6d9e7; background:#f6f6f6; padding-top:1px; }
	#menu li li { clear:both; margin:0 1px; }
	#menu li li.hr { background:#DDE1E6; height:1px; width:auto; overflow:hidden; margin:1px 0; }
	#menu ul a { border:solid 1px #f6f6f6; display:block; line-height:20px; white-space: nowrap; text-decoration:none; padding:0 20px; cursor: default; color: #333333; }
	#menu ul a:hover{ background-image:url(bg-menu.gif); background-repeat:repeat-x; border:solid 1px #A5C0FC; }
	
	/* TopMenu */
	#top .menu{ position:absolute; top:24px; right:0px; list-style: none; margin: 0; padding: 0; }
	#top .menu li { position:relative; float:left; line-height:25px; white-space: nowrap; }
	#top .menu li a { margin-right:5px; border:solid 1px #c6d9e7; border-bottom:none; display:block; padding:0 10px; background:url(../../../common/images/buttons-bg.png) repeat-x; text-decoration:none; }
	#top .menu li a:hover { background:#f6f6f6; }

#main{ width:99%; margin:4px auto; text-align:left; }

/* 公用窗口 */
.panel{ border:solid 1px #c6d9e7; background:#FFF; text-align:left; }
	.panel .head{ display:table; zoom:1; height:23px; line-height:21px; border-bottom:solid 1px #c6d9e7; background:url(../../../common/images/buttons-bg.png) repeat-x 0 center; padding-left:5px; overflow:hidden;}
	.panel .head strong{ background:url(../../../common/images/dialog-icon.png) no-repeat left 2px; padding-left:20px; color:#0B5B98; letter-spacing:1px; display:block; float:left;}
	.panel .head a{ width:35px; height:17px; float:right; display:block; background:url(../../../common/images/panel_buttons.png) no-repeat left top;}
	.panel .head a:hover{ background-position:0 -23px;}
	.panel .body p{ margin:5px 0 5px 0; clear:both; }
	.panel .body p label{ width:90px; text-align:right; display:block; float:left; color:#0000FF; line-height:200%; font-size:12px; margin:0 5px 3px 0;}
	.panel .body span label{ width:auto; margin:0px; text-align:left; float:none; display:inline; color:#666666;}

/* 系统信息 */
#sysinfo{ width:40%; height:420px; display:table; float:left; }
	#sysinfo .head strong{ cursor:default;}
	#sysinfo .body{ padding:5px; }
	#sysinfo .body p label{ line-height:150%; }
	#sysinfo dl{ margin-bottom:15px; clear:both; display:table; zoom:1;  }
	#sysinfo dt{ padding-left:8px; line-height:150%; font-weight:bold; background:url(shortcut-line.png) no-repeat left bottom; }
	#sysinfo dd{ margin:8px 8px 0 5px; }

/* 快捷方式 */
#shortcut{ width:59%; height:420px; display:table; float:right; }
	#shortcut .head strong{ cursor:default;}
	#shortcut .body{ padding:5px;}
	#shortcut dl{ margin-bottom:15px; clear:both; display:table; zoom:1;  }
	#shortcut dt{ padding-left:8px; line-height:150%; font-weight:bold; background:url(shortcut-line.png) no-repeat left bottom; }
	#shortcut dd{ float:left; margin:8px 8px 0 5px; }
	#shortcut dd a{ border:solid 1px #FFF; background-image:url(../../../common/images/link/weblink.png); background-repeat:no-repeat; background-position:center 3px; display:block; width:60px; padding:40px 5px 3px 5px; text-align:center; text-decoration:none; color:#333333;}
	#shortcut dd a:hover{ border:solid 1px #A5D11F; background-color:#F4FBE1;}

/* tabs */
#tabs{ width:99%; display:table; zoom:1; position:relative; bottom:-1px; margin:0 0 0 5px; padding:0; list-style:none; clear:both;}
	#tabs li{ line-height:23px; float:left; margin-right:5px; border:1px solid #c6d9e7; background:url(../../../common/images/buttons-bg.png) repeat-x 0 -2px;}
	#tabs li a{ padding:0px 10px; display:block; color:#333333;}
	#tabs li a:hover{ text-decoration:none;}
	#tabs li.active{ background:#FFFFFF; border-bottom:solid 1px #FFFFFF;}
	#tabs li.active a{ color:#666666; background:url(menu_selected.png) repeat-x left top;}

/* box */
#box{ width:100%; display:table; zoom:1; background:#FFFFFF; border:solid 1px #c6d9e7; margin:0 auto; clear:both;}
	#box fieldset{ border:1px solid #ccc; margin:0 5px 5px 5px; padding:5px; }
	#box legend{ font-weight:bold; color:#0B55C4;}
    #box .table{ width:99.5%; margin:3px auto; text-align:left; border-top:solid 1px #C6D9E7; border-left:solid 1px #C6D9E7;}
	#box .table div.dir{ float:left; margin-top:2px; }
	#box .table th ,
	#box .table td{ padding:3px; padding-bottom:2px;}
	#box .table td ,
	#box .table th{ border-right:solid 1px #C6D9E7; border-bottom:solid 1px #C6D9E7; color:#666666;}
	#box .table th{ background:url(title.png) repeat-x; color:#666666; letter-spacing:1px;}
	#box p{ margin:5px 0 5px 0; clear:both; line-height:200%; }
	#box p label{ width:130px; text-align:right; display:block; float:left; color:#0000FF; font-size:12px; margin:0 5px 3px 0;}
	#box span{color:#999;}
	#box span label{ width:auto; margin:0px; text-align:left; float:none; display:inline; color:#666666;}
	#box span.box{ width:85%; display:table; float:left; }
	#box p.button{ margin-left:5px;}
	#box div.but{ width:99.5%; margin:0 auto 3px auto; display:table;}
	#box div.but button{ float:left; }
	#box div.button{ float:left; display:block; padding-bottom:1px;}
	#box div.pages{float:right;}

/* 资源管理器 */
#explorer{}
	#explorer a,#explorer a:link{ color:#333333; }
	#explorer .left{ width:30%; height:400px; border:solid 1px #c6d9e7; overflow-y:scroll; padding:0 0 5px 0; }
	#explorer .left div{ widows:94%; line-height:23px; height:23px; padding:0 3%; background:url(title.png) repeat-x left center; border-bottom:solid 1px #C6D9E7; margin-bottom:3px; }
	#explorer .left p{ padding:0; margin:0; white-space:nowrap; }
	#explorer .right{ width:68%; height:400px; border:solid 1px #c6d9e7; overflow-y:scroll; overflow-x:hidden; padding:0 0 5px 0 }
	#explorer .right .table{ width:384px; border-collapse:collapse; }
	#explorer .right .table thead{ background:url(title.png) repeat-x left center; }
	#explorer .right .table thead td, #explorer .right .table thead th{ padding:0 5px; height:23px; line-height:22px; border-bottom:solid 1px #C6D9E7; border-right:solid 1px #C6D9E7; }
	#explorer .right .table tbody td{ padding:0 5px; border-bottom:solid 1px #F3F7F9; border-right:solid 1px #E8EFF4; }
	#explorer .right .table tbody td p{ padding:10px 0; }
	#explorer .right .table tbody td p.buttons{ padding-left:10px; text-align:left; }
	#explorer .right .table tbody div.filename{ width:230px; height:22px; line-height:150%; cursor:default; text-align:left; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis; overflow:hidden; }
	#explorer .right .table tbody ul.thumb{ width:100%; margin:0; padding:5px; list-style:none; }
	#explorer .right .table tbody ul.thumb li{ width:25%; height:85px; float:left; display:block; text-align:center; }
	#explorer .right .table tbody ul.thumb li td{ padding:0; border:none; }
	#explorer .right .table tbody ul.thumb li .picture{ width:70px; height:60px; border:solid 1px #999999; padding:1px; vertical-align:middle; }
	#explorer .right .table tbody ul.thumb li .name{ width:70px; height:22px; line-height:150%; text-align:left; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis; overflow:hidden; }


/* footer */
#footer{ padding:10px; text-align:center; }

/* process */
#process{ width:200px; position:fixed; right:5px; bottom:1px; border:solid 1px #c6d9e7; background:#FFF; }
#process dt{ width:195px; display:table; zoom:1; height:23px; line-height:21px; border-bottom:solid 1px #c6d9e7; background:url(../../../common/images/buttons-bg.png) repeat-x 0 center; padding-left:5px; overflow:hidden; }
#process dt strong{ background:url(../../../common/images/dialog-icon.png) no-repeat left 2px; padding-left:20px; color:#0B5B98; letter-spacing:1px; display:block; float:left;}
#process dt a{ width:35px; height:17px; float:right; display:block; background:url(../../../common/images/panel_buttons.png) no-repeat right top;}
#process dt a.revert{ background-position:right -23px;}
#process dd{ margin:5px 0; }
#process dd div.process{ width:180px; height:20px; line-height:20px; margin:0 auto; border:solid 1px #99CCFF; background:#F8F8F8; padding:1px; position:relative; overflow:hidden;}
#process dd div.process div{ display:block; height:20px; background:#DDEEFF; }
#process dd div.process span{ width:180px; top:-20px; position:relative; left:0; display:block; font-variant:normal; text-align:center; color:#003366; word-break:keep-all; white-space:nowrap;}