<div id="article">
	<h1>{lazy:title/}</h1>
	<div class="info">发布日期：{lazy:date mode="Y-m-d"/} &nbsp; &nbsp; 浏览次数：{lazy:hits/}</div>
	<div class="content">{lazy:content link="(lazy:page/)archives/search.php?query="/}</div>
	<div class="lastpage">上一篇：{lazy:lastpage/}</div>
	<div class="nextpage">下一篇：{lazy:nextpage/}</div>
</div>

{lazy:article type="related" number="6"}
<p><a href="(lazy:path/)">(lazy:title size="20"/)</a><i>(lazy:date mode="m.d"/)</i></p>
{/lazy}

<div class="next">关键字：{lazy:keywords url="(lazy:page/)archives/search.php?query="/}</div>