/**
 * +---------------------------------------------------------------------------+
 * | LL                             LLLL   LL     L   LLLL               LLLL  |
 * | LL                            LL   L  LLL   LL  LL   L             LL  LL |
 * | LL      LLLL   LLLLL  LL  LL  LL      LLLL LLL  LL         LL  LL      LL |
 * | LL         LL     LL  LL  LL  LL      L LLL LL  LLLLL      LL  LL     LL  |
 * | LL      LLLLL    LL    LLLL   LL      L  L  LL   LLLLL     LL  LL    LL   |
 * | LL     LL  LL   LL     LLLL   LL      L     LL      LL      LLLL    LL    |
 * | LL     LL  LL  LL       LL    LL   L  L     LL  L   LL      LLLL   LL     |
 * | LLLLLL  LLLLL  LLLLL    LL     LLLL   L     LL   LLLL        LL    LLLLLL |
 * |                        LL                                                 |
 * |                        LL                                                 |
 * +---------------------------------------------------------------------------+
 * | Copyright (C) 2007-2008 LazyCMS.com All rights reserved.                  |
 * +---------------------------------------------------------------------------+
 * | LazyCMS is free software. This version use Apache License 2.0             |
 * | See LICENSE.txt for copyright notices and details.                        |
 * +---------------------------------------------------------------------------+
 */
html { background:#FAFAFA; }
body { width:750px; margin:1em auto; padding:2em; font-family: Arial,sans-serif; font-size:12px; color: #333333; background:#FFF; -moz-border-radius:6px; -webkit-border-radius:6px; -khtml-border-radius:6px; border-radius:6px; border:1px solid #DFDFDF; border-collapse:separate; }
p { margin-bottom:0px; margin-top:1em; }
#logo{ height:48px; line-height:48px; padding-left:60px; display:table; background:url("images/setup-logo.png") no-repeat left center; margin:6px auto 14px; text-align:center; }
.data-table tbody th,.data-table tbody td { line-height:200%; }
.data-table tbody th p { font-weight:normal; color:#666; }
.data-table input{ margin:1px 0; }
.data-table label{ cursor:pointer; }
.data-table label input{ margin-right:3px; }


#pass-strength-result {
    -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; border-radius:4px;
	background-color: #eee;
	border-color: #ddd !important;
	border-style: solid;
	border-width: 1px;
	margin: 5px 5px 5px 0px;
	padding: 1px 2px;
	text-align: center;
	width: 150px;
}

#pass-strength-result.bad {
	background-color: #ffb78c;
	border-color: #ff853c !important;
}

#pass-strength-result.good {
	background-color: #ffec8b;
	border-color: #ffcc00 !important;
}

#pass-strength-result.short {
	background-color: #ffa0a0;
	border-color: #f04040 !important;
}

#pass-strength-result.strong {
	background-color: #c3ff88;
	border-color: #8dff1c !important;
}