/**
 * +---------------------------------------------------------------------------+
 * | LL                             LLLL   LL     L   LLLL               LLLL  |
 * | LL                            LL   L  LLL   LL  LL   L             LL  LL |
 * | LL      LLLL   LLLLL  LL  LL  LL      LLLL LLL  LL         LL  LL      LL |
 * | LL         LL     LL  LL  LL  LL      L LLL LL  LLLLL      LL  LL     LL  |
 * | LL      LLLLL    LL    LLLL   LL      L  L  LL   LLLLL     LL  LL    LL   |
 * | LL     LL  LL   LL     LLLL   LL      L     LL      LL      LLLL    LL    |
 * | LL     LL  LL  LL       LL    LL   L  L     LL  L   LL      LLLL   LL     |
 * | LLLLLL  LLLLL  LLLLL    LL     LLLL   L     LL   LLLL        LL    LLLLLL |
 * |                        LL                                                 |
 * |                        LL                                                 |
 * +---------------------------------------------------------------------------+
 * | Copyright (C) 2007-2008 LazyCMS.net All rights reserved.                  |
 * +---------------------------------------------------------------------------+
 * | LazyCMS is free software. This version use Apache License 2.0             |
 * | See LICENSE.txt for copyright notices and details.                        |
 * +---------------------------------------------------------------------------+
 */

/* 登陆界面 */
#login { width: 650px; height: 300px; margin: 10% auto 0 auto; background: url(../images/bg-line.gif) no-repeat 220px top; text-align:left; }
    #login .col1 { width:250px; padding-top:100px; margin:50px auto; float:left; background:url(../images/login-logo.png) no-repeat left top; }
    #login .col1 p { color:#999999; margin:8px 0; padding:0; }
    #login .col2 { width:230px; margin:25px 0 0 35px; padding:15px 20px;; float:left; }
    #login .col2 dt { font-weight:bold; color:#666666; font-size:14px; }
    #login .col2 dd { margin:10px 0; padding:0; }
    #login .col2 select { width:205px; }
    #login .col2 label{ line-height:2; margin-left:1px; }
    #login .col2 .username,
    #login .col2 .password{ width:200px; margin-left:1px; padding:1px 2px; border:1px solid; border-color:#b4b4b4 #e8e8e8 #e8e8e8 #b4b4b4; }
    #login .col2 .remember{ margin:0 0 0 -3px; float:left; }
	#login .col2 .remember input{ vertical-align:middle; margin-right:3px; }
    #login .col2 .submit{ margin:0 19px 0 0; float:right; _margin-right:10px; _height:25px; }
