/**
 * +---------------------------------------------------------------------------+
 * | LL                             LLLL   LL     L   LLLL               LLLL  |
 * | LL                            LL   L  LLL   LL  LL   L             LL  LL |
 * | LL      LLLL   LLLLL  LL  LL  LL      LLLL LLL  LL         LL  LL      LL |
 * | LL         LL     LL  LL  LL  LL      L LLL LL  LLLLL      LL  LL     LL  |
 * | LL      LLLLL    LL    LLLL   LL      L  L  LL   LLLLL     LL  LL    LL   |
 * | LL     LL  LL   LL     LLLL   LL      L     LL      LL      LLLL    LL    |
 * | LL     LL  LL  LL       LL    LL   L  L     LL  L   LL      LLLL   LL     |
 * | LLLLLL  LLLLL  LLLLL    LL     LLLL   L     LL   LLLL        LL    LLLLLL |
 * |                        LL                                                 |
 * |                        LL                                                 |
 * +---------------------------------------------------------------------------+
 * | Copyright (C) 2007-2010 LazyCMS.com All rights reserved.                  |
 * +---------------------------------------------------------------------------+
 * | LazyCMS is free software. See LICENSE for copyright notices and details.  |
 * +---------------------------------------------------------------------------+
 */
/* Basic Links
----------------------------------------------------------------------------------------------------*/
a:link,a:visited  { color: #0B55C4; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

/* row actions */
.row-actions { visibility: hidden; }

/* number */
.number{ font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif; }

/* pages */
.pages a, .pages span { -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; }

/* 表单table
----------------------------------------------------------------------------------------------------*/
.form-table{ width:100%; border:0 none; clear:both; margin-bottom:0px; margin-top:0.5em; border-collapse:collapse; }
    .form-table input{ margin:1px 0; }
	.form-table label{ cursor:pointer; }
    .form-table label input{ margin-right:3px; }
	.form-table th, .form-table td { border:none; }
	.form-table th{ width:125px; padding:10px; text-align:left; vertical-align:top; font-weight:normal; }
	.form-table td{ line-height:20px; margin-bottom:9px; padding:4px 10px 12px; }
	.form-table td label{ margin-right:5px; }
	.form-table td .rules { }
	.form-table td .rules a { color:#666666; }

/* 数据表格
----------------------------------------------------------------------------------------------------*/
.data-table{ width:100%; margin-top:5px; margin-bottom:5px; border-collapse:separate; clear:both; border:solid 1px #DFDFDF; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; border-radius:4px; }
	.data-table th { font-weight:bold; }
	.data-table th, .data-table td { padding:4px; text-align:left; border:none; border-bottom:solid 1px #DFDFDF; }
    .data-table a{ display:inline-block; }
	.data-table thead, .data-table tfoot { background:url(../images/blue-grad.png) repeat-x scroll left top; }
	.data-table tbody { background:#fff; border-top:solid 1px #DFDFDF; border-bottom:solid 1px #DFDFDF; }
	.data-table tbody td{ vertical-align:top;word-wrap:break-word; overflow:hidden; }
	.data-table .check-column { width:25px; text-align:center; }

/* 文件管理器
----------------------------------------------------------------------------------------------------*/
.explorer {}
    .explorer .toobar { padding-bottom:5px; margin-bottom:5px; border-bottom: 1px solid #8AB0DE; }
    .explorer .toobar label{ margin-right:3px; }
    .explorer .toobar select{ margin-right:10px; }
    .explorer .toobar button{ margin-right:6px; }
    .explorer .toobar span.upload{ position:relative; display:inline-block; }
    .explorer .toobar div.infile{ display:block; width:50px; height:25px; overflow:hidden; position:absolute; top:0; left:0; text-align:right; }
    .explorer .toobar input.file{ height:30px; position:absolute; top:0; right:0; opacity:0; -moz-opacity:0; -ms-filter:'alpha(opacity=0)'; filter:alpha(opacity=0); }
    .explorer table { margin-top:0; }
    .explorer table td { padding:3px; }
    .explorer table td.name { display:block; width:240px; height:21px; overflow:hidden; white-space:nowrap; }
    .explorer ul.icons { margin:0; margin-bottom:10px; padding:0; }
    .explorer ul.icons li { width:70px; height:60px; position:relative; float:left; list-style:none; display:block; overflow:hidden; margin:8px 5px; text-align:center; }
    .explorer ul.icons li div.loading{ width:70px; height:60px; background:#ffffff; position:absolute; left:0; top:0; padding:0; border:none; opacity:0.5; -moz-opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); }
    .explorer ul.icons li div.loading img{ margin-top:23px; }
    .explorer ul.icons li div.mask { width:70px; height:20px; visibility: hidden; background:#fff; position:absolute; right:0; bottom:0; opacity:0.5; -moz-opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); }
    .explorer ul.icons li div.actions{ width:67px; height:20px; padding-right:3px; visibility: hidden; text-align:right; position:absolute; right:0; bottom:0; }
    .explorer .botbar {  }
    .explorer .botbar .info{ float:left; line-height:22px; }
    .explorer .botbar .pages{ float:right;  }

    .dialog .pic-viewer { text-align:center; }
    .dialog .pic-viewer a { position: absolute; right:10px; bottom:10px; }
