/**
 * +---------------------------------------------------------------------------+
 * | LL                             LLLL   LL     L   LLLL               LLLL  |
 * | LL                            LL   L  LLL   LL  LL   L             LL  LL |
 * | LL      LLLL   LLLLL  LL  LL  LL      LLLL LLL  LL         LL  LL      LL |
 * | LL         LL     LL  LL  LL  LL      L LLL LL  LLLLL      LL  LL     LL  |
 * | LL      LLLLL    LL    LLLL   LL      L  L  LL   LLLLL     LL  LL    LL   |
 * | LL     LL  LL   LL     LLLL   LL      L     LL      LL      LLLL    LL    |
 * | LL     LL  LL  LL       LL    LL   L  L     LL  L   LL      LLLL   LL     |
 * | LLLLLL  LLLLL  LLLLL    LL     LLLL   L     LL   LLLL        LL    LLLLLL |
 * |                        LL                                                 |
 * |                        LL                                                 |
 * +---------------------------------------------------------------------------+
 * | Copyright (C) 2007-2010 LazyCMS.com All rights reserved.                  |
 * +---------------------------------------------------------------------------+
 * | LazyCMS is free software. See LICENSE for copyright notices and details.  |
 * +---------------------------------------------------------------------------+
 */
/* Basic Links
----------------------------------------------------------------------------------------------------*/
a:link,a:visited  { color: #0B55C4; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

/* row actions */
.row-actions { visibility: hidden; }

/* number */
.number{ font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif; }

/* pages */
.pages a, .pages span { -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; }

/* 表单table
----------------------------------------------------------------------------------------------------*/
.form-table{ width:100%; border:0 none; clear:both; margin-bottom:0px; margin-top:0.5em; border-collapse:collapse; }
    .form-table input{ margin:1px 0; }
	.form-table label{ cursor:pointer; }
    .form-table label input{ margin-right:3px; }
	.form-table th, .form-table td { border:none; }
	.form-table th{ width:125px; padding:10px; text-align:left; vertical-align:top; font-weight:normal; }
	.form-table td{ line-height:20px; margin-bottom:9px; padding:4px 10px 12px; }
	.form-table td label{ margin-right:5px; }
	.form-table td .rules { }
	.form-table td .rules a { color:#666666; }

/* 数据表格
----------------------------------------------------------------------------------------------------*/
.data-table{ width:100%; margin-top:5px; margin-bottom:5px; border-collapse:separate; clear:both; border:solid 1px #DFDFDF; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; border-radius:4px; }
	.data-table th { font-weight:bold; }
	.data-table th, .data-table td { padding:4px; text-align:left; border:none; border-bottom:solid 1px #DFDFDF; }
    .data-table a{ display:inline-block; }
	.data-table thead, .data-table tfoot { background:url(../images/blue-grad.png) repeat-x scroll left top; }
	.data-table tbody { background:#fff; border-top:solid 1px #DFDFDF; border-bottom:solid 1px #DFDFDF; }
	.data-table tbody td{ vertical-align:top;word-wrap:break-word; overflow:hidden; }
	.data-table .check-column { width:25px; text-align:center; }

/* 文件管理器
----------------------------------------------------------------------------------------------------*/
.explorer {}
.explorer .toobar { padding-bottom:5px; margin-bottom:5px; border-bottom: 1px solid #8AB0DE; }
.explorer .toobar label{ margin-right:3px; }
.explorer .toobar select{ margin-right:6px; }
.explorer ul.icons { margin:0; padding:0; }
.explorer ul.icons li { width:70px; height:60px; float:left; list-style:none; display:block; margin:5px 6px; text-align:center; }
