/**
 * +---------------------------------------------------------------------------+
 * | LL                             LLLL   LL     L   LLLL               LLLL  |
 * | LL                            LL   L  LLL   LL  LL   L             LL  LL |
 * | LL      LLLL   LLLLL  LL  LL  LL      LLLL LLL  LL         LL  LL      LL |
 * | LL         LL     LL  LL  LL  LL      L LLL LL  LLLLL      LL  LL     LL  |
 * | LL      LLLLL    LL    LLLL   LL      L  L  LL   LLLLL     LL  LL    LL   |
 * | LL     LL  LL   LL     LLLL   LL      L     LL      LL      LLLL    LL    |
 * | LL     LL  LL  LL       LL    LL   L  L     LL  L   LL      LLLL   LL     |
 * | LLLLLL  LLLLL  LLLLL    LL     LLLL   L     LL   LLLL        LL    LLLLLL |
 * |                        LL                                                 |
 * |                        LL                                                 |
 * +---------------------------------------------------------------------------+
 * | Copyright (C) 2007-2008 LazyCMS.com All rights reserved.                  |
 * +---------------------------------------------------------------------------+
 * | LazyCMS is free software. This version use Apache License 2.0             |
 * | See LICENSE.txt for copyright notices and details.                        |
 * +---------------------------------------------------------------------------+
 */
/* Basic Links
----------------------------------------------------------------------------------------------------*/
a:link    { color: #0B55C4; text-decoration: none; }
a:visited { color: #0B55C4; text-decoration: none; }
a:hover   { text-decoration: underline; }

/* error and tips */
.input_error, .textarea_error { border:solid 1px #FF0000 !important; background:#fff url(../images/invalid-line.gif) repeat-x left bottom !important;}

/* 分页样式 */
.pages { display:table; }
.pages a, .pages span { display:block; float:left; background:#fff; border:solid 1px #DEDEDE; padding:1px 3px; margin-right:2px; text-align:center; text-decoration:none; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px;}
.pages a:hover{ position:relative; line-height:130%; padding:0 5px; font-size:24px; z-index:100; margin:-8px 0 0 -8px; text-decoration:none;}
.pages a:hover + a{ position:relative; line-height:130%; padding:0 5px; font-size:18px; z-index:90; margin:-4px 0 0 -4px; text-decoration:none;}
.pages span.active{ color:#990000 !important; font-weight:bold; }

/* 浮动窗口
----------------------------------------------------------------------------------------------------*/
.window { position:absolute; background:#D4E6EE; border:solid 1px #8ab0de; }
	.window h1 { font-size:12px; line-height:22px; background:#fff url(../images/bg_top.png) repeat-x left top; margin:0; padding:0 5px; clear:both; border-bottom:solid 1px #8ab0de; white-space:nowrap; }
	.window a.close { position:absolute; width:36px; height:17px; background:url(../images/close.png) no-repeat 0 1px; text-indent:-9999px; right:0px; top:0px;}
	.window a.close:hover{ background-position: 0 -17px; }
	.window .help{ position:absolute; top:0; right:38px; }
	.window .wrapper { word-break:break-all; word-wrap:break-word; padding:5px; overflow: auto; clear:both; }
	.window .wrapper .icon{ width:32px; height:32px; float:left; margin:5px 10px 0 10px; _margin-left:4px; background-image:url(../images/info_icons.png); background-repeat:no-repeat; }
    .window .wrapper .content{ max-width:520px; min-width:320px; margin:5px 10px 0 0; float:left; }
    .window .wrapper .content h6{ line-height:130%; margin:2px 0 0 0; }
	.window .buttons { text-align:right; clear:both; padding:3px; }
	.window .buttons button{ margin:0 0 0 6px;}

/* 表单table
----------------------------------------------------------------------------------------------------*/
.form-table{ width:100%; border:0 none; clear:both; margin-bottom:0px; margin-top:0.5em; border-collapse:collapse; }
    .form-table input{ margin:1px 0; }
	.form-table label{ cursor:pointer; }
    .form-table label input{ margin-right:3px; }
	.form-table th, .form-table td { border:none; }
	.form-table th{ width:160px; padding:10px; text-align:left; vertical-align:top; font-weight:normal; }
	.form-table td{ line-height:20px; margin-bottom:9px; padding:4px 10px 12px; }
	.form-table td label{ margin-right:5px; }
	.form-table td .rules { }
	.form-table td .rules a { color:#666666; }

/* 数据表格
----------------------------------------------------------------------------------------------------*/
.data-table{ width:100%; margin-top:5px; margin-bottom:5px; border-collapse:separate; clear:both; border:solid 1px #DFDFDF; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; border-radius:4px; }
	.data-table th { font-weight:bold; }
	.data-table th, .data-table td { padding:4px; text-align:left; border:none; }
	.data-table th, .data-table td { border-bottom:solid 1px #DFDFDF; }
	.data-table thead, .data-table tfoot { background:url(../images/blue-grad.png) repeat-x scroll left top; }
	.data-table tbody { background:#fff; border-top:solid 1px #DFDFDF; border-bottom:solid 1px #DFDFDF; }
	.data-table tbody td{ vertical-align:top; }
	.data-table .check-column { width:25px; text-align:center; }
	.data-table .row-actions { visibility: hidden; }
